PORT=YOUR_PORT

NODE_ENV=development

DATABASE_URL=YOUR_NEON_POOLED_CONNECTION

DATABASE_URL_UNPOOLED=YOUR_NEON_UNPOOLED_CONNECTION

PAYMENT_WEBHOOK_SECRET=YOUR_PAYMENT_WEBHOOK_SECRET
PAYMENT_WEBHOOK_URL=YOUR_PAYMENT_WEBHOOK_URL